/* 
:root{
    --bg-color:#160225;
} */

.logMin{
    height: 100vh;
    overflow: hidden;
    justify-content: center;
}


.logform{

    border-radius: 8px;
    height: 380px;
    width: 300px;
    display: grid;
    margin-left: 38%;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.541);
    padding: 1rem;

}

.logbime{
    margin-left: 34%;
}

.logform input{
    margin-top: 5%;
    border: solid 2pt white;
    background-color: transparent;
    border-radius: 8px;
    height: 40px;
    outline: none;
    padding: 1%;
    text-align: center;
    color: white;
    
}

.loginput :placeholder-shown{
    color: white;
    margin-left: 5%;
}

.logbutton{
    height: 50px;
    border-radius: 8px;
    outline: none;
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    margin-top: 5%;
    border: none;
}

.logbutton :hover{
    transform: scale(1.1);
}

.logredir{
    margin-left: 9%;
}






/* 
@media only screen and (max-width:900px){
    .logform{

        border-radius: 8px;
        height: 380px;
        width: 300px;
        display: grid;
        margin-left: 13rem;
        margin-top: 40%;
        background-color: rgba(255, 255, 255, 0.541);
        padding: 1rem;
    
    }
    
}






@media only screen and (max-width:1500px){
    .logform{

        border-radius: 8px;
        height: 380px;
        width: 300px;
        display: grid;
        margin-left: 23rem;
        margin-top: 40%;
        background-color: rgba(255, 255, 255, 0.541);
        padding: 1rem;
    
    }
    
} */




@media only screen and (max-width:500px){
    .logform{

        border-radius: 8px;
        height: 380px;
        width: 300px;
        display: grid;
        margin-left: 8%;
        margin-top: 40%;
        background-color: rgba(255, 255, 255, 0.541);
        padding: 1rem;
    
    }
    
}











