

.hero{
    height: 25%;
    width: 90%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.733);
    margin-left: 5%;
    margin-top: 1%;
    justify-content: flex-end;
    display: flex;
}




.color-switcher{
    width: 10rem;
    background-color: rgba(255, 255, 255, 0.87);
    padding: 1rem;
    position: absolute;
    left: 0;
    transform: translate(-100%, 2%);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    margin-top:6rem;
    
    
}

.color-switcher--open{
    transform: translate(0%, 0%);
}



.heading{
    font-size: 1.2rem ;
    margin-top: 0%;
    
}


.color-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin-top: 1.2rem; 
    cursor: pointer;
}

.color-item{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--bg-color);
    border: solid 2pt rgba(87, 85, 85, 0.541);
    cursor: pointer;    
}

.cpb{
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.87);
    border: none;
    color: var(--bg-color);
    font-size: large;
    right: 0;
    top: 50%;
    transform: translate(368%, 150%);
    display: grid;
    place-items: center;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ri-settings-3-fill{
    animation: rotate-animation 10s infinite linear;
    color: var(--bg-color);
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}