.color-switcher{
    width: 10rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    position: absolute;
    left: 0;
    transform: translate(0, 50%);
    
    

}

.heading{
    font-size: 1.2rem ;
    margin-bottom: 1.2rem;
}


.color-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin-top: 1.2rem; 
}

.color-item{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--bg-color);
    border: solid 2pt rgba(87, 85, 85, 0.411);
    
    
}

.cpb{
    width: 3rem;
    height: 3rem;
    background-color: white;
    border: none;
    color: red;
    font-size: large;
    right: 0;
    top: 50%;
    transform: translate(355%, 100%);
    display: grid;
    place-items: center;
}