



:root{
    --bg-color:#160225;
}

.sec{
    position: relative;
}


.homemain{
    height: 150vh;
    /* background-image: url(../../../assets/images/blury\ background.PNG); */
    background-size: cover;
    border: solid 1pt transparent;
    background-color: var(--bg-color);
    z-index: -1;  
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

.homemain::before{
    content: '';
    position: absolute;
    height: 100%;
    filter: blur(10px);
}

.iconfinder{
    display: flex;
    height: fit-content;
    width: fit-content;
    border: solid 1pt green;
}


.ipt{
    border: solid 1pt red;
    padding:.4rem ;  
    margin: 2rem;
    border-radius: 5px;
}

.icons{
    height: 28px;
    width: 28px ;
    border: solid 1pt red;
    margin-top: 2rem;
}


.aside1{
    display: flex;
    height: 30%;
}

.box1{
    width: 30%;
    height: 80%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.733);
    margin-left: 5%;
    margin-top: 2%;
}

.box2{
    width: 58%;
    height: 80%;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.733);
    margin-left: 2%;
    margin-top: 2%;  
}


.aside2{
    display: flex;
    height: 30%;
}


.box3{
    width: 30%;
    height: 80%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.733);
    margin-left: 5%;
    margin-top: 1%;
}

.box4{
    width: 58%;
    height: 80%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.733);
    margin-left: 2%;
    margin-top: 1%;  
}






.foot{
    height: 0%;
    border-top: solid 1pt  rgba(255, 255, 255, 0.733);
    display: flex;
    justify-content: space-around;  
    font-size: large;
    color: white;
    padding: 1rem;
}




@media only screen and (max-width:500px) {
    
}
