.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 63vh;
    display: flex;
    background-color:#fff;
    border-radius: 8px;
    margin-top: 105px;
    margin-left: 299px;
    padding: 3rem;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.179);
    z-index: 3;
   
}

popup-inner{
    box-shadow: inset black;
    position: relative;
    padding: 1px;
    width: 100%;
    max-width: 1640px;
    background-color: #fff;
    
   
}

 .close-btn{
    position: absolute;
    top: 1px;
    right: 26px;
    background: var(--bg-color);
    width: 100px;
    height: 30px;
    font-size: smaller;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 1rem;
    cursor: pointer;
    color: #fff;
}

.save-btn{
    background: var(--bg-color);
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    margin-top: 1rem;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}








.dpholder{

    height: 9rem;
    width: 9rem;
    border: solid 2pt var(--bg-color);
    border-radius: 50%;
    
}

.innerdpholder{

    height: 8rem;
    width: 8rem;
    border: solid 4pt var(--bg-color);
    border-radius: 50%;
   margin: 0.2rem;
    
}


.maindp{
   
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
   
}


.proilename{
    margin-left: 1rem;
}


.uploadav{
    display: flex;
    width: 40rem;
    border: solid 4pt var(--bg-color);
    border-radius: 5px;
    justify-content: space-around;
}

.avartarprev{
    margin-left: auto;
}

.prevcrop{
    width: 8rem;
    height: 8rem;
    margin-top: 4rem;
}

.editusernamebox{
    border: solid 2pt var(--bg-color);
    border-radius: 5px;
}