
.topnav{
    height: 8%;
    border-bottom: solid 1pt  rgba(245, 245, 245, 0.171);
    display: flex;
    justify-content: space-around;
    

   
}


.signup{
    border-radius: 8px;
    border:  solid 2pt rgba(255, 255, 255, 0.24);
    height: 40px;
    margin-left: 28%;
}



.login{
    border-radius: 8px;
    border:  solid 2pt rgba(255, 255, 255, 0.24);
    height: 40px;
    width: fit-content;   
}





.dp{
    
    border-radius: 50PX;
    width: 2rem;
    height: 2rem;
    margin-left: 39%;
    border: solid 2pt rgba(255, 255, 255, 0.329);
    margin-top: 8%;
    
}



.topnav li{
    color: white;
    width: 8%;
    list-style: none;
    margin-top: 1.5%;
    cursor: pointer;
    height: fit-content;
    
}



.topnav li p{
    
    margin-left: 28%;
    font-size: small;
    margin-top: 8%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}




.drpdown{
    border-radius: 10PX;
    background-color: rgba(255, 255, 255, 0.884);
    width: 150%;
    height: 488%;
    transition: all ease-in-out 0.5s;
    animation-name: dd;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



.drpdown li{
    margin: 10%;
    
    border: solid 1pt transparent;
    width: 90%;
    height: 10%;
    justify-content: center;
    color: black;
    cursor: pointer;
    border-top: solid 2pt rgba(0, 0, 0, 0.178);
    display: flex;
    background-color:transparent;
}




.drpdown img{
    height: 20px;
    margin-right:0%;
    margin-top: 8%;
}

.drpdown p{
    font-size: 100rem;
    margin: auto;
    
}

.logo{
    height: 20px;
    margin-top: 40%;
}

.user{
height: 25px;
margin: 12%;
}

