
:root{
    --bg-color:#160225;
}

.sec{
    position: relative;
}


.usermain{
    height: 150vh;
    /* background-image: url(../../../assets/images/blury\ background.PNG); */
    background-size: cover;
    border: solid 1pt transparent;
    background-color: var(--bg-color);
    z-index: -1;  
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

.usermain::before{
    content: '';
    position: absolute;
    height: 100%;
    filter: blur(10px);
}




.useraside1{
    display: flex;
    height: 30%;
}

.userbox1{
    width: 30%;
    height: 80%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.733);
    margin-left: 5%;
    margin-top: 2%;
}

.userbox2{
    width: 58%;
    height: 80%;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.733);
    margin-left: 2%;
    margin-top: 2%;  
}


.useraside2{
    display: flex;
    height: 30%;
}


.userbox3{
    width: 30%;
    height: 80%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.733);
    margin-left: 5%;
    margin-top: 1%;
}

.userbox4{
    width: 58%;
    height: 80%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.733);
    margin-left: 2%;
    margin-top: 1%;  
}






.userfoot{
    height: 0%;
    border-top: solid 1pt  rgba(255, 255, 255, 0.733);
    display: flex;
    justify-content: space-around;  
    font-size: large;
    color: white;
    padding: 1rem;
}


.pbars{
    margin: 1rem;
    height: 13rem;
    width: 45rem;
    margin-left: 1rem;
    display: flex;
   
}

.tt{
  
    width: 58%;
    color: var(--bg-color);
    margin-top: 0%;
}


.dowloadsteps{
  list-style: symbols();
  color: var(--bg-color);
  font: size 50rem;
  margin-left :5rem;
  margin-top: 1rem;
  width: fit-content;
  font-weight: 500;
}



.but-ton {
    background: rgb(0, 0, 0);
    margin-left :5rem;
    margin-top: 1rem;
    width : 230px;
    height : 50px;
    overflow: hidden;
    text-align : center;
    transition : .2s;
    cursor : pointer;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  }
  
  .btn-Two {
  
    position : relative;
    width : 200px;
    height : 200px;
    margin-top: -100px;
    padding-top: 2px;
    background : var(--bg-color);
    left : -250px;
    transition : .3s;
    
  }
  .btn-Text {
    margin-top: 6.8%;
    color : white;
    transition : .3s;
    font-size: 15px;
  }
  .btn-Text2 {
    margin-top : 63px;
    margin-right : -130px;
    color : #FFF;
  }
  .but-ton:hover .btn-Two{ /*When hovering over .button change .btnTwo*/
    left: -130px;
  }
  .but-ton:hover .btn-Text{ /*When hovering over .button change .btnText*/
    margin-left : 65px;
  }
  .but-ton:active { /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
  }
  
  


@media only screen and (max-width:500px) {
    
}
