
.usertopnav{
    height: 8%;
    border-bottom: solid 1pt  rgba(245, 245, 245, 0.171);
    display: flex;
    justify-content: space-around;
    

   
}


.usersignup{
    border-radius: 8px;
    border:  solid 2pt rgba(255, 255, 255, 0.24);
    height: 40px;
    margin-left: 28%;
}



.userlogin{
    border-radius: 8px;
    border:  solid 2pt rgba(255, 255, 255, 0.24);
    height: 40px;
    width: fit-content;   
}





.userdp{
    
    border-radius: 50PX;
    width: 2rem;
    height: 2rem;
    margin-left: 39%;
    border: solid 2pt rgba(255, 255, 255, 0.329);
    margin-top: 25px;
    
}






.usertopnav li{
    color: white;
    width: 8%;
    list-style: none;
    margin-top: 1.5%;
    cursor: pointer;
    height: fit-content;
    
}



.usertopnav li p{
    margin-left: 15%;
    font-size: small;
    margin-top: 8%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.userfaq{
 
    width: 20%;
    color: white;
    padding-left: 4rem;
    padding-top:0.5rem;
}




.userdrpdown{
    border-radius: 10PX;
    background-color: rgba(255, 255, 255, 0.945);
    width: 198%;
    height: 298%;
    transition: all ease-in-out 0.5s;
    animation-name: dd;
    padding-bottom: 1rem;
    margin-top: 28px;
}



.userdrpdown li{
    margin: 15%;
    border: solid 1pt transparent;
    width: 80%;
    height: 10%;
    justify-content: center;
    color: black;
    cursor: pointer;
    border-top: solid 2pt rgba(0, 0, 0, 0.178);
    display: flex;
    background-color:transparent;
}




.userdrpdown img{
    height: 20px;
    margin-right:0%;
    margin-top: 8%;
 
}

.userdrpdown p{
    font-size: 100rem;
    margin: auto;
    
}

.userlogo{
    height: 20px;
    margin-top: 40%;
    float: left;
}

.useruser{
height: 25px;
margin: 12%;
}



@media only screen and (max-width:900px) {
    .usertopnav li p{
        margin-left: 5%;
        font-size: small;
        margin-top: 8%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
 

    .usertopnav li {
      border: none;
      width: 80px;
      margin-top: 1.5rem;
   
    }

    .usertopnav{
      
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }


    .usersignup{
        border-radius: 8px;
        border:  solid 2pt rgba(255, 255, 255, 0.24);
        height: 40px;
        margin-left: 8%;
    }

    .userlogin{
        border-radius: 8px;
        border:  solid 2pt rgba(255, 255, 255, 0.24);
        height: 40px;
        width: fit-content;   
        margin-left: 1rem;
    }

    .userfaq{
        display: none;
    }

   
.userdrpdown li{
    margin: 10%; 
    border: solid 1pt transparent;
    width: 90%;
    height: 10%;
    justify-content: center;
    color: transparent;
    cursor: pointer;
    border-top: solid 2pt rgba(0, 0, 0, 0.178);
    display: flex;
    background-color:transparent;
}
    
}




