
:root{
    --bg-color:#160225;
}

.sec{
    position: relative;
}


.usermain{
    height: 150vh;
    /* background-image: url(../../../assets/images/blury\ background.PNG); */
    background-size: cover;
    border: solid 1pt transparent;
    background-color: var(--bg-color);
    z-index: -1;  
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

.usermain::before{
    content: '';
    position: absolute;
    height: 100%;
    filter: blur(10px);
}




.useraside1{
    display: flex;
    height: 30%;
}

.userbox1{
    width: 30%;
    height: 80%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.733);
    margin-left: 5%;
    margin-top: 2%;
}

.userbox2{
    width: 58%;
    height: 80%;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.733);
    margin-left: 2%;
    margin-top: 2%;  
}


.useraside2{
    display: flex;
    height: 30%;
}


.userbox3{
    width: 30%;
    height: 80%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.733);
    margin-left: 5%;
    margin-top: 1%;
}

.userbox4{
    width: 58%;
    height: 80%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.733);
    margin-left: 2%;
    margin-top: 1%;  
}






.userfoot{
    height: 0%;
    border-top: solid 1pt  rgba(255, 255, 255, 0.733);
    display: flex;
    justify-content: space-around;  
    font-size: large;
    color: white;
    padding: 1rem;
}




@media only screen and (max-width:500px) {
    
}
