

.userhero{
    height: 25%;
    width: 90%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.733);
    margin-left: 5%;
    margin-top: 1%;
    justify-content: flex-end;
    display: flex;
}






.das{
 
    margin-right: auto;
    width: 15rem;
    color: var(--bg-color);
}

.lc {
    border: solid rgba(255, 255, 255, 0.213);
    margin-top: 0.4rem;
    color: var(--bg-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
        
  

}

.lcc{
 
    width: 850px;
    margin-right: 10rem;
    
    
}

.dbw, .dbp{
    margin-left: 1rem;
}

.dbp{
    color: white;
    margin-top: 0%;
}

.dashdate{
    color: var(--bg-color);
}

.dashdp{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: 2rem;
}

@media only screen and (max-width:900px) {

    das{
    display: none;
    }
    .lc {
        border: solid rgba(255, 255, 255, 0.213);
        margin-left: 40rem;
        width: 20rem;
        color: var(--bg-color);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
      
            
      
    
    }
    
   

}